
<div style="display:block; float:left; height: 700px;">&nbsp;</div>
<div style="clear:both;"></div>

<div id="select-sex-information"> 
  <b>あなたの性別をえらんでください</b>
</div>

<%= link_to image_tag("men_b.jpg", :alt => "mem"),
            {:action => :select, :type => "mem"}, :id => "select-mem" %>

<%= link_to image_tag("women_b.jpg", :alt => "womem"),
            {:action => :select, :type => "womem"},  :id => "select-womem" %>
